iframe{
	position: fixed;
	width:470px;
	height:470px;
}
h1{
	font-family: 'Ubuntu', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
}
.container{
	background-color:white;
}
.container-fluid{
	background-color:black;
}
img{
	max-width: 400px ;
	max-height: 600px;
}
li{
	text-decoration: none;
	color:white;
	list-style-type: none;
}
a{
	color:white;
}
a:hover{
	color:coral;
	text-decoration: none;
}